@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Zain', sans-serif;
  /* overflow: hidden; */
}

.highlighted {
  @apply underline underline-offset-8 hover:decoration-solid decoration-dotted;

  & span {
    color: var(--mantine-color-text);
    font-weight: 500;
  }
}

svg:not(.normal) {
  width: rem(16px);
  height: rem(16px);
}
