.chatContainer {
  padding-block: var(--mantine-spacing-xs);
  padding-inline: var(--mantine-spacing-md);
  width: 100%;
  gap: var(--mantine-spacing-xs);
  border: 2px solid transparent;
  margin-block: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-md);

  border-color: light-dark(
    var(--mantine-color-teal-1),
    alpha(var(--mantine-color-teal-9), 0.4)
  );

  &:hover {
    background-color: light-dark(
      alpha(var(--mantine-color-teal-0), 0.4),
      alpha(var(--mantine-color-teal-9), 0.04)
    );
  }
  /* direct chat styles */
  &.directChatContainer {
    border-color: light-dark(
      var(--mantine-color-blue-1),
      alpha(var(--mantine-color-blue-9), 0.4)
    );

    &:hover {
      background-color: light-dark(
        alpha(var(--mantine-color-blue-0), 0.4),
        alpha(var(--mantine-color-blue-9), 0.04)
      );
    }
  }
  /* &:hover {
  } */
}

.upperRow {
  /* background-color: blueviolet; */
}
.menuBtn {
  justify-self: flex-end;
  @mixin ltr {
    margin-left: auto;
  }

  @mixin rtl {
    margin-right: auto;
  }
}

.messengerHeader {
  justify-content: space-between;
  background-color: light-dark(
    alpha(var(--mantine-color-indigo-0), 0.3),
    alpha(var(--mantine-color-indigo-8), 0.2)
  );
  padding: var(--mantine-spacing-xs);
  border: 1px solid;
  border-color: light-dark(
    alpha(var(--mantine-color-indigo-3), 0.4),
    alpha(var(--mantine-color-indigo-5), 0.5)
  );
  border-radius: var(--mantine-radius-xs);
  /* margin-bottom: var(--mantine-spacing-md); */
  color: light-dark(var(--mantine-color-indigo-8), var(--mantine-color-bright));
}
