.chatContainer {
  padding-block: var(--mantine-spacing-xs);
  padding-inline: var(--mantine-spacing-md);
  width: 100%;
  border: 3px solid transparent;

  &:hover {
    border-color: light-dark(
      var(--mantine-color-blue-0),
      var(--mantine-color-blue-9)
    );
  }
}

.upperRow {
  /* background-color: blueviolet; */
}
.menuBtn {
  justify-self: flex-end;
  @mixin ltr {
    margin-left: auto;
  }

  @mixin rtl {
    margin-right: auto;
  }
}

.messengerHeader {
  justify-content: space-between;
  background-color: light-dark(
    var(--mantine-color-teal-0),
    var(--mantine-color-teal-9)
  );
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border: 1px solid;
  border-color: light-dark(
    var(--mantine-color-teal-3),
    var(--mantine-color-teal-7)
  );
  border-radius: var(--mantine-radius-xs);
  margin-bottom: var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-teal-8), var(--mantine-color-bright));
}
