.formWrapper {
  /* background-color: red; */
  /* height: calc(100% - var(--mantine-header-height)); */
  /* background-color: var(--mantine-baloo); */
}

.dropZoneIcon {
  width: rem(52);
  height: rem(52);
  color: var(--mantine-color-dimmed);
}

.uploadedImage {
  border: 2px solid var(--mantine-color-dimmed);
  padding: 2px;
  position: relative;

  & svg {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.preview {
  border: 1px solid var(--mantine-color-blue-2);
  border-radius: var(--mantine-radius-md);
  overflow: hidden;
  width: rem(75px);
  height: rem(75px);

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
