.formWrapper {
  /* background-color: red; */
  /* height: calc(100% - var(--mantine-header-height)); */
  /* background-color: var(--mantine-baloo); */
}

.feedHeader {
  background-color: light-dark(
    alpha(var(--mantine-color-cyan-0), 0.3),
    alpha(var(--mantine-color-cyan-8), 0.2)
  );

  color: light-dark(var(--mantine-color-cyan-8), var(--mantine-color-bright));
  border: 1px solid
    light-dark(
      alpha(var(--mantine-color-cyan-3), 0.4),
      alpha(var(--mantine-color-cyan-5), 0.5)
    );
  padding: var(--mantine-spacing-xs);
}

.dropZoneIcon {
  width: rem(52) !important;
  height: rem(52) !important;
  color: var(--mantine-color-dimmed);
}

.uploadedImage {
  border: 2px solid var(--mantine-color-dimmed);
  padding: 2px;
  position: relative;

  & svg {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.preview {
  border: 1px solid var(--mantine-color-blue-2);
  border-radius: var(--mantine-radius-md);
  /* overflow: hidden; */
  width: rem(75px);
  height: rem(75px);
  position: relative;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.introContainer {
  border: 3px solid
    light-dark(
      alpha(var(--mantine-color-cyan-3), 0.4),
      alpha(var(--mantine-color-cyan-7), 0.4)
    );
  /* light-dark(var(--mantine-color-blue-3), var(--mantine-color-dark-3)); */
  /* border-style: ridge; */
  background-color: light-dark(
    alpha(var(--mantine-color-cyan-0), 0.3),
    alpha(var(--mantine-color-cyan-9), 0.1)
  );
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-xl);
}

.imageDeleteBtn {
  position: absolute;
  top: -5px;
  left: -5px;
}

.userEmoji {
  width: rem(24px);
}
