.card {
  position: relative;
  background-color: var(--mantine-color-body);
}

.carousel {
  @mixin hover {
    .carouselControls {
      opacity: 1;
    }
  }
}

.image {
  height: 250px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carouselControls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.carouselIndicator {
  width: rem(4px);
  height: rem(4px);
  transition: width 250ms ease;

  &[data-active] {
    width: rem(16px);
  }
}

.rating {
  position: absolute;
  top: var(--mantine-spacing-xs);
  right: rem(12px);
  pointer-events: none;
}

.title {
  display: block;
  margin-top: var(--mantine-spacing-md);
  margin-bottom: rem(5px);
}

.action {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-5)
  );

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-6)
    );
  }
}
.active {
  background-color: red;
}

/* .user {
  gap: 0.2rem;
  align-items: center;
} */

.footer {
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-4));
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-lg);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-8)
  );
}

.commentsContainer {
  border-top-width: 2px;
  border-top-color: light-dark(
    var(--mantine-color-gray-4),
    var(--mantine-color-gray-8)
  );
  border-style: dotted;
}

.comment {
  position: relative;

  padding-block: var(--mantine-spacing-xs);
  padding-inline: var(--mantine-spacing-sm);
  @mixin ltr {
    padding-right: calc(
      (var(--mantine-spacing-lg) * 2) + var(--mantine-spacing-xs)
    );
  }
  @mixin rtl {
    padding-left: calc(
      (var(--mantine-spacing-lg) * 2) + var(--mantine-spacing-xs)
    );
  }

  &.highlightedComment {
    background-color: var(--mantine-primary-color-light);
  }
}

.menuIcon {
  position: absolute;
  top: var(--mantine-spacing-xs);
  right: var(--mantine-spacing-xs);

  @mixin rtl {
    left: var(--mantine-spacing-xs);
    right: unset;
  }
}

.reactions {
  position: absolute;
  left: var(--mantine-spacing-xs);
}

.postReactions {
  align-items: start;
  background-color: var(--mantine-color-blue-0);
  gap: 0;
  padding: 1px var(--mantine-spacing-xs);
}

.reactionIcon {
  width: 12px;
}

.commentTime {
  position: absolute;
  font-size: var(--mantine-font-size-xs);
  color: var(--mantine-color-dimmed);
  /* bottom: 0; */

  @mixin ltr {
    right: var(--mantine-spacing-md);
  }

  @mixin rtl {
    left: var(--mantine-spacing-md);
  }
}
